<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet",type="text/css", href="./src/css/main.css")
body
	h3 BOOTSTRAP 4
	.container
		.row.align-items-center
			.col-md.m-2.text-muted One of three columns  Lorem ipsum dolor sit amet, 
			.col-md.mr-auto One of three columns
			.col-md.mr-auto One of three columns


		//img(src="../src/img/electric.jpg", alt="").img-fluid

		h4 Example heading
			span.badge.badge-secondary New
	
		.btn.btn-lg.btn-primary primary
		.btn.btn-secondary secondary
		.btn.btn-success success
		.btn.btn-danger danger
		.btn.btn-warning warning
		.btn.btn-info info
		.btn.btn-light light
		.btn.btn-dark dark
		.btn.btn-link link
		hr
		.btn.btn-outline-primary primary
		.btn.btn-outline-secondary secondary
		.btn.btn-outline-success success
		.btn.btn-outline-danger danger
		.btn.btn-outline-warning warning
		.btn.btn-outline-info info
		.btn.btn-outline-dark dark
		hr
		.btn-group(role="group")
			#btnGroupDrop1(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").btn.btn-secondary.dropdown-toggle Dropdown
			.dropdown-menu(aria-labelledby="btnGroupDrop1")
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.

		.btn-group(role="group")
			#btnGroupDrop1(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").btn.btn-secondary.dropdown-toggle Dropdown
			.dropdown-menu(aria-labelledby="btnGroupDrop1")
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.

		.btn-group(role="group")
			#btnGroupDrop1(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").btn.btn-secondary.dropdown-toggle Dropdown
			.dropdown-menu(aria-labelledby="btnGroupDrop1")
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
		.btn-group(role="group")
			#btnGroupDrop1(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").btn.btn-secondary.dropdown-toggle Dropdown
			.dropdown-menu(aria-labelledby="btnGroupDrop1")
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.

		.btn-group(role="group")
			#btnGroupDrop1(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").btn.btn-secondary.dropdown-toggle Dropdown
			.dropdown-menu(aria-labelledby="btnGroupDrop1")
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.

		.btn-group(role="group")
			#btnGroupDrop1(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").btn.btn-secondary.dropdown-toggle Dropdown
			.dropdown-menu(aria-labelledby="btnGroupDrop1")
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
				a.dropdown-item Dropdown link  Lorem ipsum dolor sit amet.
		
		hr
		hr
		hr
		hr
		hr
		hr
		hr
		hr
		hr
		hr
		hr
		hr
		hr
		hr
		hr
		hr
		hr
		hr
		hr
		hr



















	//

		.section Some section
			.wrap
				.my_slider
					img.wow.pulse.animated.down(src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX14768389.jpg", alt="")
					.arrows
						.arr_next
							.ic &#8593
						.arr_prev
							.ic &#8595
					.slider
						.top.img-holder
						.top1
						.top2
						.top3
						.top4

		.section Some section
			.fp-bg
			.items-wrap
				.items.item1.wow.rollIn.infinite Item15
				.items.item2.wow.swing  Item2
				.items.item3.wow.lightSpeedIn  Item3
				.items.item4.wow  Item4
				.items.item5  Item5
				.items.item6  Item6
				.items.item7  Item7
				.items.item8  Item8
				.items.item9  Item9
				.items.item10 Item10
				.items.item11.wow.rollIn.infinite Item11
				.items.item12.wow.rollIn.infinite Item12
				.items.item13 Item13
				.items.item14 Item14
				.items.item15 Item15
				.items.item15 Item16


		.section Some section
			.boxes-wrap
				.boxes.box1.revealator-fade Item1
				.boxes.box2.revealator-rotateleft Item2
				.boxes.box3.revealator-rotateright Item3
				.boxes.box4.revealator-slideright Item4
				.boxes.box5.revealator-slideup  Item5
				.boxes.box6.revealator-zoomin Item6
				.boxes.box7.revealator-zoomout  Item7
			
		.section Some section
			input(type="date")
			button.SendEmail Send Email

		.mixes test

		-




		.foo

	script(src="./src/js/libs/all_libs.js")
	script(src="./src/js/main.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")