<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet",type="text/css", href="./src/css/main.css")
body

	.section Some section
		.wrap
			.my_slider
				img.wow.pulse.animated.down(src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX14768389.jpg", alt="")
				.arrows
					.arr_next
						.ic &#8593
					.arr_prev
						.ic &#8595
				.slider
					.top.img-holder
					.top1
					.top2
					.top3
					.top4

	.section Some section
		.fp-bg
		.items-wrap
			.items.item1.wow.rollIn.infinite Item15
			.items.item2.wow.swing  Item2
			.items.item3.wow.lightSpeedIn  Item3
			.items.item4.wow  Item4
			.items.item5  Item5
			.items.item6  Item6
			.items.item7  Item7
			.items.item8  Item8
			.items.item9  Item9
			.items.item10 Item10
			.items.item11 Item11
			.items.item12 Item12
			.items.item13 Item13
			.items.item14 Item14
			.items.item15 Item15
			.items.item15 Item16


	.section Some section
		.boxes-wrap
			.boxes.box1.revealator-fade Item1
			.boxes.box2.revealator-rotateleft Item2
			.boxes.box3.revealator-rotateright Item3
			.boxes.box4.revealator-slideright Item4
			.boxes.box5.revealator-slideup  Item5
			.boxes.box6.revealator-zoomin Item6
			.boxes.box7.revealator-zoomout  Item7
		
	.section Some section
		input(type="date")
		button.SendEmail Send Email






	.foo








	script(src="./src/js/libs/all_libs.js")
	script(src="./src/js/main.js")